name: Run tests

on:
  push:
    branches:
      - "master"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      -
        name: "Checkout"
        uses: actions/checkout@v5

      -
        name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3

      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.PAT_TOKEN}}

      -
        name: "Build tests-util image"
        uses: docker/build-push-action@v6
        id: build
        with:
          context: hack/tests-util/
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/wordpress-tests-util-cache:main
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/wordpress-tests-util-cache:main,mode=max
          load: true
          tags: localhost/tests-util:latest

      -
        name: "Run tests"
        run: hack/scripts/tests
